.reviewContent {
  font-size: 14px;
  /* display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.reviewsList {
  padding-left: 0;
}
