.moviePage {
  padding-top: 10px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: lightgray;
}

.moviePage h2 {
  margin-top: 0;
  margin-bottom: 15px;
}

.moviePage p {
  margin-top: 0;
  margin-bottom: 15px;
}

.button {
  font-size: 16px;
  color: #ffff;
  font-weight: bold;
  width: 150px;
  background-color: rgba(16, 5, 109, 0.863);
  border: 0px transparent;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}

.button:hover,
.button:focus {
  color: rgba(16, 5, 109, 0.863);
  background-color: #ffff;
}
